@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-blue: #3EA7E1;
    --main-green: #57FF96;
    --soft-green: #93F9B9;
    --hard-green: #1D976C;
    --grey: #615D5D;
    --main-black: #322D2D;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

#hero{
    background: linear-gradient(180deg, #1D976C 0%, #93F9B9 100%);
    border-radius: 0 0 200px 200px;
}

.logo{
    width: 50px;
    border-radius: 100%;
    background-color: #004AAD;
    margin-right: 120px ;
}


nav{
    display: flex;
    align-items: center;
    padding: 22px;
    justify-content: center;
}

.nav-link{
    margin-inline: 30px; 
    color: white;
    font-weight: 400;  
    font-size: 16px;
}


button{
    border: none;
    background-color: var(--main-blue);
    color: white;
}

.contato{
    border-radius: 10px;
    margin-left: 154px;
    padding: 7px 20px;
    font-size: 16px;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 123px;
    
}

#project-tittle{
    font-size: 120px;
    color: white;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 200px;
}

.leaf-logo{
    margin-bottom: 30px;
}

#project-tittle span{
    color: var(--main-green);
}

#project-subtittle{
    color: white;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 42px;
}

#hero-img{
    margin-bottom: 50px;
}

.cta{
    padding: 20px;
    border-radius: 15px;
    font-size: 16px;
}
